
.modal-body{
    padding: 10px;
    padding-top: 5px;
    color: #838383;
    box-shadow: 2px 0px 22px -6px #838383;
}

.banner-title{
    font-size: 26px;
    font-weight: 700;
    color: black;
}

.close-btn{
    display: flow-root;
}

a{
    color: black;
    font-weight: 500;
    text-decoration: underline;
}

.privacy-policy {
    font-size: 12px;
    font-weight: 700;
}

.description-text {
    font-size: 12px;
}

.save-settings{
    border-color: #e9e7e7;
    color: #838383;
}

.collapse-icon {
    text-decoration: none;
    color: #838383;
    box-shadow: none !important;
    float: right;
    padding-top: 0px;
    font-size: 14px;
}

.accordion-content {
    background-color: #F0F0F0;
}

.sort-icon {
    padding-top: 8px;
}

.card-section .card:last-child {
    margin-bottom: 0px !important;
}

.accordion-description-text{
    font-size: 11px;
    color: #838383;
}

.sort-icon-down {
    line-height: 20px;
}


.plugin-details{
    font-size: 12px;
    color: #838383;
}

.plugin-header{
    font-weight: 700;
    color: black;
}

.accordion-title {
    font-weight: 700;
    font-size: 12px;
}

.close {
    color: #a1a1a1;
    font-size: 20px;
}
 